<!DOCTYPE html>
<html lang="{{@site.locale}}" class="flex flex-col min-h-[100vh]">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,300..900&display=swap" >
    <script src="{{asset "built/index.js"}}" defer></script>

    <style>
        :root {
            --background-color: {{@custom.site_background_color}}
        }
    </style>

    <script>
        /* The script for calculating the color contrast has been taken from
        https://gomakethings.com/dynamically-changing-the-text-color-based-on-background-color-contrast-with-vanilla-js/ */
        var accentColor = getComputedStyle(document.documentElement).getPropertyValue('--background-color');
        accentColor = accentColor.trim().slice(1);
        var r = parseInt(accentColor.substr(0, 2), 16);
        var g = parseInt(accentColor.substr(2, 2), 16);
        var b = parseInt(accentColor.substr(4, 2), 16);
        var yiq = ((r * 299) + (g * 587) + (b * 114)) / 1000;
        var textColor = (yiq >= 128) ? 'dark' : 'light';

        document.documentElement.className = `has-${textColor}-text`;
    </script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}} group">

<div class="flex flex-col min-h-[100vh] {{#is "home"}}{{#if @site.cover_image}}{{#if @custom.cover_as_background}}bg-center bg-cover relative text-white before:absolute before:inset-0 before:content-[''] before:bg-[rgba(0,0,0,0.3)] before:z-0{{/if}}{{/if}}{{/is}}"
        style="{{#is "home"}}{{#if @site.cover_image}}{{#if @custom.cover_as_background}}background-image: url('{{@site.cover_image}}'){{/if}}{{/if}}{{/is}}; background-color: {{@custom.site_background_color}}">

{{#if @custom.navigation}}
    {{> "head"}}
{{/if}}

<main class="gh-main flex flex-grow flex-col min-h-full z-10 group-[.is-menu-open]:hidden">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

{{> "foot"}}

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
